In [68]:
import numpy as np
import pandas as pd
import os

In [69]:
train_label = pd.read_csv('./data/Training_set.csv')
test_label=pd.read_csv('./data/Testing_set.csv')

In [70]:
#for i in train_label.index :
unique_array=np.unique(train_label['label'],return_index=True)[0]
f = open("./data/id.csv", 'w')
f.write('species\n')
num = 0
for s in unique_array : 
    val = s + '\n'
    f.write(val)
f.close()

In [71]:
label_id = pd.read_csv('./data/id.csv')

In [72]:
for i in train_label.index :
    train_label.loc[i, 'label'] = label_id.index[(label_id['species'] == train_label.loc[i, 'label'])].to_list()[0]

In [73]:
train_label

            filename label
0        Image_1.jpg    66
1        Image_2.jpg     0
2        Image_3.jpg    12
3        Image_4.jpg    44
4        Image_5.jpg    33
...              ...   ...
6494  Image_6495.jpg    40
6495  Image_6496.jpg    45
6496  Image_6497.jpg     4
6497  Image_6498.jpg    29
6498  Image_6499.jpg     5

[6499 rows x 2 columns]